.git/
.gitignore
.idea/
.mvn/
target/
*.md
Jenkinsfile
.DS_Store

# Git
.git

# Secrets and Config
.env
*.pem
*.key
secrets/

# Build Artefacts / Dependencies
node_modules/
dist/
*.log

# Docker itself
Dockerfile
.dockerignore